<a href="https://colab.research.google.com/github/sa1987/Fat-Chance-Probability-from-the-Ground-Up/blob/master/1_Counting.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Theory:

How many nos: between n and k where n<k: ((k-n)+1)


How many nos: between n and k , divisible by m: ((last no: =< divible by m)- (first no: from n thats divisible by m)) + 1
n=23 k= 283, m= 5 > 56-5 + 1

In a sports stadium with numbered seats, every seat is occupied except seats 33 through 97 >> 97-33 +1


In a sports stadium with numbered seats, every seat is occupied except seats 33 through 97. Suppose the fans are superstitious and only want to sit in even numbered seats because, otherwise, they fear their team will lose. How many even numbered seats are still available in the block of seats numbered
33 through 97?  
48-17 +1

The formula for multiplying large numbers using exponential notation is 10a×10b=10a+b

Harvard has a -digit billing code for all financial transactions at the University, which means there are distinct billing numbers. For unambiguous record keeping, each financial transaction requires a distinct billing number. Suppose there are employees at the University, and each employee makes ten financial transactions each day of the year. (For the purposes of this problem, we will ignore the existence of leap years.)
How many distinct billing numbers would Harvard need to use over a period of years (the approximate lifetime of the institution)? Choose the best answer.

7.3 * 10^9

**The Multiplication Principle**

To start with, say you walk into a Harvard house of pizza.
You feel like ordering a pizza, and you've
decided you want 1 meat topping and 1 veggie topping.
Now, as it happens, the Harvard house of pizza
offers 4 meat toppings and 5 veggie toppings.
How many different pizzas could you order?
Well, that's not too hard.
For each of the 4 meat toppings, there are 5 possible pizzas, making
a total of 4 times 5, or 20 pizzas.

Say you have 3 pairs of pants, 7 shirts, and 2 pairs of shoes.
How many outfits could you make?
Well, it's the same principle.
For each pair of pants, there are 7 possible shirts,
making 3 times 7, or 21, shirts and pants combos.
And for each of those, there are 2 choices for the shoes,
making a total of 3 times 7 times 2, or 42, outfits.
These two examples illustrate what we call the multiplication principle.

How many five letter words are there in the English alphabet?
Well, this again is a case of the multiplication principle.
There are 26 choices for the first letter.
And since we're not requiring the word to be an actual English word,
there are likewise 26 choices for the second letter,
26 choices for the third letter, and so on.
So by the multiplication principle, the answer
is 26 times 26 times 26 times 26 times 26,
or 26 to the fifth power, which, as it happens, is 11,881,376.

** The number of sequences of k objects chosen from a collection of n objects is n^k **

**No of sequences of length k chose from a collection of n objects, without repetion: n*n-1*........*n-k+1 >> nCk  --> n!/(n−k)!.**

A course catalog for the Open University of Earth lists classes via a sequence of three numbers (chosen from to ) followed by three letters in English (chosen from A to Z). How many courses can be given unique catalog numbers? Choose the best answer.

10^3 * 26^3

A course catalog for the Open University of the Milky Way lists classes by a sequence of two letters (chosen from A to Z) and four numbers (chosen from to ). 


26^2 * 10^4

A course catalog for the Open University of the Milky Way lists classes by a sequence of two letters (chosen from A to Z) and four numbers (chosen from to ).
Is this enough to offer five-million courses? Choose the best answer

Yes

A course catalog for the Open University of the Milky Way lists classes by a sequence of two letters (chosen from A to Z) and four numbers (chosen from to ).
How many course numbers are there which have no repeated letters and no repeated numbers?

26\*25\*10\*9\*8\*7

3 digit no with (1-9) but , should be an odd no. How many possible sequences. 
Odd means, last digit(1,3,5,7,9). 3rd digit (5!) , 2nd digit(8!) 1st (7!) --> 8!*7!*5!

For a positive integer \(n\), which is larger \(n^n\) or \(n!\) ? (Assume that \(n \neq 1\).)

 \(n^n\)

How many three-digit odd numbers are there with no repeated digits? Choose the best answer.
/

 (5\*8*8\)      (here are five possible choices for the last digit--
1, 3, 5, 7, and 9.
Now, the trick to solve this problem is to next think how many choices there
are for the first digit, because the first digit does have
to be 1, 2, 3, 4, 5, 6, 7, 8, or 9.
It cannot be 0--
then we would not get a three-digit number.
So a priori, there are nine choices for the first digit, the numbers
1 through 9.
Except we've already used one of those numbers as the last digit,)

**Subtraction rule**

the number of objects in a collection that satisfy some condition
is equal to the total number of objects in the collection
minus the number in that collection that don't satisfy the condition.
For example, the number of consonants is equal to the total number
of letters minus the number of vowels.

we know how many words contain at least one vowel--
26 to the fourth, the total number of words, minus 21 to the fourth,
the number of words that don't contain a vowel.

There are 6 candidates. If two refuse to be positioned next to each other.

Let those two people be 𝐴 and 𝐵. There are totally 6! ways to permute people, including the cases that 𝐴 and 𝐵 are standing next to each other. To compute the # of cases 𝐴 and 𝐵 are together, consider them as a whole, i.e., regard them as a single person since they are standing together. Then there will be 2⋅5!=240 cases. 2 here is to indicate the cases 𝐴 stands in the left of 𝐵 and 𝐴 stands in the right of 𝐵

.

Finally, we have 6!−240=480
.

how many numbers between 5 and 85
are not divisible by either 2 or by 3.

28

81 total numbers minus 40 divisible by 2,
minus 27 divisible by 3, plus 14 divisible by both 2 and 3

Of all the seven-letter words in the English alphabet, how many have a letter in them that appears more than once? Choose the best answer.
 26^7 - 26\*25\*24\*23\*22\*21
 
 
 
 A phone number has seven digits and cannot begin with a  0
 
 9*10^6
 
 A phone number has seven digits and cannot begin with a 0. How many phone numbers contain at least one 7
 9*10^6 . -  8\*9^6

A phone number has seven digits and cannot begin with a 0.

How many phone numbers contain the sequence 123

**EVALUATION 1**

How many whole numbers are there between 242 and 783 ? Choose the best answer. 542

How many whole numbers are there between 242 and 783 and divisible by 6 ? Choose the best answer. 90

How many whole numbers are there between 242 and 783 and not divisible by 6 ? Choose the best answer. 452

13  athletes from around the world are competing in the steeplechase competition at the 2020 Olympics. By the outcome of the event we'll mean the determination of who gets the gold medal, who gets the silver medal, and who gets the bronze medal.  13\*12*11

13  athletes from around the world are competing in the steeplechase competition at the 2020 Olympics. By the outcome of the event we'll mean the determination of who gets the gold medal, who gets the silver medal, and who gets the bronze medal.
Say that three of the athletes in the steeplechase competition are from Moldovia. (Steeplechase is big in Moldovia, apparently.) How many outcomes involve at least one Moldovian winning a medal? Choose the best answer. 13\*12*11 - 10\*9*8 

Recall that by a "word" in the English alphabet we mean an arbitrary sequence of letters chosen from the 26 letters of the alphabet.
How many six-letter words in the English alphabet contain at least one vowel? (For the purposes of this problem, there are five vowels among the letters of the alphabet). Choose the best answer.

26^6 - 21^6

Recall that by a "word" in the English alphabet we mean an arbitrary sequence of 36 letters chosen from the letters of the alphabet.
How many six-letter words in the English alphabet have at least one repeated letter? (By a repeated letter, we mean any letter that appears more than once in the word, not necessarily in two adjacent letters.) Choose the best answer. 

26^6 - (26 \* 25 \* 24 \* 23 \* 22 \* 21)

Consider all numbers consisting of four different digits all between and 1 & 9 . How many of these are odd? Choose the best answer. 5\*8\*7*6